<div class="container">
    <div class="card-container">
        <mat-toolbar color="warn">
            <span>Error</span>
            <span class="example-spacer"></span>
            <mat-icon 
                class="example-icon" 
                aria-hidden="false" 
                aria-label="Example user verified icon">error</mat-icon>
        </mat-toolbar>
        <mat-card>
            <mat-card-content>
                <h2>Sorry, page not found.</h2>
            </mat-card-content>
        </mat-card>
    </div>
</div>